<div class="confirmation">
    <div class="title-image">
        <img style="width: 57px; height: 45px;" alt="Heart" src="../assets/heart1.jpg">
        <img style="width: 279px; height: 35px;" alt="Pay It Forward" src="../assets/logo4.png">
        <img style="width: 57px; height: 45px;" alt="Heart" src="../assets/heart1.jpg">
    </div>
    <div class="col-md-12">
      <div class="users">
        <table class="table-condensed">
          <tbody>
            <tr *ngFor="let user of users; let i=index; let odd=odd;" (click)="select(i)" align="left">
              <td width="150px">{{user.username}}</td><td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <div class="message">
        <h4 *ngIf="username">{{username}}さんに "{{model.type}}"コインを {{model.amount}} bitoを送ります。</h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="comment">
        <label>コメント（任意）　</label>
        <input type="text" [(ngModel)]="model.comment" value="いつもありがとう。" style="width: 400px;"><br>
      </div>
    </div>
    <div class="col-md-12">
      <div class="action">
        <button class="btn btn-default" (click)="close()">閉じる</button>
        <button [disabled]="loading" class="btn btn-success" (click)="send()">送　信</button>
      </div>
    </div>
</div>