.confirmation {
  text-align: center;
}
 
div.title-image {
    text-align:center;
    margin-top: 20px;
}

div.users {
    height: 180px;
    overflow-y:scroll;
}

div.message {
    height: 50px;
    padding-top: 10px;
    color: #ff0000;
    font-weight: bold;
}

div.comment {
    height: 40px;
}

div.action {
    height: 40px;
}