<div class="col-md-4">
  <div class="wallet">
    <img style="width: 160px; height: 154px;" alt="Received Coin" src="../assets/received1.png">
  </div>
</div>
<div class="col-md-4">
  <div class="thanks">
    <div class="col-md-12">
        <span>ありがとう</span>
    </div>
    <div class="col-md-12">
      <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin5.jpg" (click)="onDialogClick('th5')">
      <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin10.jpg" (click)="onDialogClick('th10')">
      <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin15.jpg" (click)="onDialogClick('th15')">
    </div>
  </div>
  <div class="good_job">
    <div class="col-md-12">
        <span>よくできました</span>
      </div>
      <div class="col-md-12">
        <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin5.jpg" (click)="onDialogClick('gj5')">
        <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin10.jpg" (click)="onDialogClick('gj10')">
        <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin15.jpg" (click)="onDialogClick('gj15')">
      </div>
    </div>
    <div class="expect_you">
        <div class="col-md-12">
            <span>期待しているよ</span>
        </div>
        <div class="col-md-12">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin5.jpg" (click)="onDialogClick('ey5')">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin10.jpg" (click)="onDialogClick('ey10')">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin15.jpg" (click)="onDialogClick('ey15')">
        </div>
    </div>
    <div class="genki_ball">
        <div class="col-md-12">
            <span>元気玉</span>
        </div>
        <div class="col-md-12">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin5.jpg" (click)="onDialogClick('gb5')">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin10.jpg" (click)="onDialogClick('gb10')">
          <img style="width: 67px; height: 67px;" alt="5points" src="../assets/coin15.jpg" (click)="onDialogClick('gb15')">
        </div>
    </div>
</div>
<div class="col-md-4">
  <div class="wallet">
    <img style="width: 160px; height: 154px;" alt="sent Coin" src="../assets/sent1.png">
  </div>
</div>

<app-modal></app-modal>